<template>
  <div id="app">
    <div class="heading">
      <h1>Aufgaben</h1>
    </div>
    <task-component v-for="task in tasks" v-bind="task" :key="task.id" @update="update" @del="del"></task-component>
    <div>
      <button @click="create">Hinzufügen</button>
    </div>
  </div>
</template>

<script>
function Task({ id, title, description }) {
  this.id = id;
  this.title = title;
  this.description = description;
}

import TaskComponent from "./components/TaskComponent.vue";

export default {
  data() {
    return {
      tasks: []
    };
  },
  methods: {
    async create() {
      const { data } = window.axios.get("/api/tasks/create");
      this.tasks.push(new Task(data));
    },
    async read() {
      const { data } = window.axios.get("/api/tasks");
      data.forEach(task => this.tasks.push(new Task(task)));
    },
    async update(id, color) {
      // To do
    },
    async del(id) {
    await window.axios.delete(`/api/tasks/${id}`);
    let index = this.tasks.findIndex(task => task.id === id);
    this.tasks.splice(index, 1);
    },
    created() {
      this.read();
    }
  },
  components: {
    TaskComponent
  }
};
</script>