<template>
  <tbody>
    <tr v-for="(task, index) in tasks">
      <td>{{ index + 1 }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <button @click="update(index)" class="button is-small is-info is-outlined">Bearbeiten</button>
        <button @click="del(index)" class="button is-small is-danger is-outlined">Löschen</button>
      </td>
    </tr>
  </tbody>
</template>
<script>
update(index) {
                this.errors = [];
                $("#updateTaskModal").addClass("is-active");
                this.update_task = this.tasks[index];
            },

del(index) {
                $("#deleteTaskModal").addClass("is-active");
                this.delete_task = this.tasks[index];
                this.delete_task_index = index;
            },

</script>
